body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-bottom: 100px;
    
}
.navbar-image{
    display: flex;
    max-height: 60px; 
    margin-right: 10px;
    margin-top: 10px;
    }
.navbar{
    margin-top: 15px;
}
.nav-link {
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 10px 20px;

    color: #333;
}
.btn-orange{
background-color: #fd6f00;
  border: 2px solid #fd6f00;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  }
  nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.btn-orange:hover {
    background-color: #984300;
    color: white;
    border-color: #984300;
  }
  .content {
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 15px;
    text-align: justify;

  }
  .content-2 {
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 5px;
    margin-left: 15px;
    text-align: justify;
    word-wrap: break-word;

  }
  .content-3 {
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
  }
  .row{
    margin-top: 50px;
  }
  .image-column img {
    width: 100%; 
    height: auto;
    margin-bottom: 50px;
  }
.orange-content{
    color: #fd6f00;
    font-size: 30px;
}
.SBF-font{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.SBF-font-2{
    font-size: 40px;
}
.SBF-font-3{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.BBF-font{
    font-weight: bold;
    font-size: 60px;
    color: black;
}
.BBF-font-2{
    font-weight: bold;
    font-size: 60px;
    color: black;
    margin-left: 140px;
}
* {box-sizing:border-box}
progress{
    width: 100%;
    background-color: transparent;
    color: #fd6f00;
    
}


 .progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; 
}
.progress-bar {
    height: 30px;
    background-color: #fd6f00;
    text-align: center;
    line-height: 30px; 
    font-weight: bold;
    border-radius: 5px 0 0 5px;
}
.glyphicon {
    color: #fd6f00;
    text-align: left;
    font-size: 60px;
    margin-top: 15px;
    margin-left: 15px;

}
.custom-col {
    width: 270px; height: auto; 
    background-color: #e9e9e9; 
    border: 2px solid #e9e9e9;
    border-radius: 10px;
    color: black;
    margin: 10px;
    margin-bottom: 50px;
    text-align: left;

}
.btn-custom {
    background-color: #e9e9e9;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-custom.active {
    background-color: #fd6f00;
    color: white;
}
.col-12 col-md-4 text-center{
    width: 300px; height: auto; 
    background-color: #e9e9e9; 
    border: 2px solid #e9e9e9;
    border-radius: 10px;
    color: black;
    margin: 10px;
    text-align: left;
}
.custom-img {
    max-width: 100%; 
    border-radius: 5px; 
    margin-bottom: 50px;
}
.type-project{
    color: #fd6f00;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
    word-wrap: break-word;  
}
.title-project{
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
    word-wrap: break-word;  
}
.images-custom {
    border-radius: 50px;
    max-width: 100%; 
    max-height: 250px; 
    object-fit: cover;
  
}
.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#myCarousel{
    position: relative;
    width: 100%;
    max-width: 800px;
}
.item {
    border-radius: 20px;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    position: relative;
}

.carousel-item.active .custom-img {
    opacity: 1;
}

.carousel-item-next .custom-img, 
.carousel-item-prev .custom-img {
    opacity: 0.5;
}
.carousel-indicators {
    position: absolute;
    bottom: -100px; /* Cách slider 100px */
    left: 0;
    right: 0;
    
    margin-left: auto;
    margin-right: auto;
    width: max-content; 

}

.carousel-indicators li {
    width: 40px;
    height: 10px;
    background-color:  #e9e9e9;
    border-radius: 10px;
}

.carousel-indicators li.active {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: #fd6f00;
}
.message {
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 400px;
    top: 20%;
    color: black;
    padding: 10px;
    border-radius: 5px;
    max-width: 50%;
    word-wrap: break-word;
}
.message-name {
    position: absolute;
    left: 400px;
    bottom: 10%;
    color: black;
    padding: 10px;
    border-radius: 5px;
    max-width: 50%;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: bold;
}

.col-contact{
    margin-top: 150px;
    align-items: center;
}
.container {
    max-width: 100%; }

.row-contact {
margin-left: 270px;
}
.form-control {
    height: 45px;
    background-color:  #e9e9e9;
}
.btn-orange-custom{
    width: 130px;

}